    .experience {
        background-color: var(--color-primary);
        margin-top: -10px;
    }
    
    .experience .work-row {
        display: none;
    }
    
    .we-svg-top,
    .we-svg-bottom {
        margin-top: -1px;
    }
    
    .we-filler {
        display: none;
    }
    
    @media screen and (max-width: 683px) {
        .experience {
            scroll-margin-top: 95px;
        }
    }
    
    @media screen and (max-width: 991px) {
        .experience .work-row {
            display: block;
        }
        #carouselExampleIndicators {
            display: none;
        }
        .experience {
            padding-bottom: 10px;
        }
    }
    
    @media screen and (max-width: 500px) {
        .experience {
            scroll-margin-top: 55px;
        }
        .experience h2 {
            font-size: 1.6rem;
        }
        .we-filler {
            display: block;
            background-color: var(--color-primary);
            height: 15px;
        }
    }